
<!-- header section starts  -->
<app-header></app-header>

<!-- home section starts  -->
<app-home></app-home>

<!-- features section starts  -->
<app-features></app-features>

<!-- products section starts  -->
<app-products></app-products>

<!-- categories section starts  -->
<app-categories></app-categories>

<!-- review section starts  -->
<app-review></app-review>

<!-- blogs section starts  -->
<app-blogs></app-blogs>

<!-- footer section starts  -->
<app-footer></app-footer>















<!-- <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script> -->

<!-- custom js file link  -->
<!-- <script src="js/script.js"></script> -->

<router-outlet></router-outlet>
